In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
suburbData = pd.read_pickle("./suburbData.pkl")
suburbData

,geometry,counts,%,suburb
LOC_NAME,,,,
Melbourne,"POLYGON ((144.97797 -37.83867, 144.97803 -37.8...",7500,79,Melbourne
Southbank,"POLYGON ((144.95308 -37.82740, 144.95328 -37.8...",1543,83,Southbank
St Kilda,"POLYGON ((144.99038 -37.87073, 144.99036 -37.8...",1457,69,St Kilda
Docklands,"POLYGON ((144.95376 -37.82363, 144.95336 -37.8...",1070,76,Docklands
Richmond,"POLYGON ((145.00407 -37.83137, 145.00396 -37.8...",1008,74,Richmond
...,...,...,...,...
Sandringham,"POLYGON ((145.00670 -37.95693, 145.00655 -37.9...",51,88,Sandringham
Upper Ferntree Gully,"POLYGON ((145.32416 -37.89994, 145.32414 -37.9...",51,50,Upper Ferntree Gully
Yarra Glen,"POLYGON ((145.36232 -37.67205, 145.36236 -37.6...",51,84,Yarra Glen
Rosanna,"POLYGON ((145.08284 -37.74245, 145.08300 -37.7...",51,58,Rosanna
Burnside Heights,"POLYGON ((144.76353 -37.72942, 144.76349 -37.7...",50,72,Burnside Heights

In [7]:
pollutantData = pd.read_pickle("./pollutantData.pkl")
pollutantData

,geometry,counts,suburb
LOC_NAME,,,
Melbourne,"POLYGON ((144.97797 -37.83867, 144.97803 -37.8...",24.0,Melbourne
Southbank,"POLYGON ((144.95308 -37.82740, 144.95328 -37.8...",4.0,Southbank
St Kilda,"POLYGON ((144.99038 -37.87073, 144.99036 -37.8...",0.0,St Kilda
Docklands,"POLYGON ((144.95376 -37.82363, 144.95336 -37.8...",19.0,Docklands
Richmond,"POLYGON ((145.00407 -37.83137, 145.00396 -37.8...",26.0,Richmond
...,...,...,...
Sandringham,"POLYGON ((145.00670 -37.95693, 145.00655 -37.9...",1.0,Sandringham
Upper Ferntree Gully,"POLYGON ((145.32416 -37.89994, 145.32414 -37.9...",13.0,Upper Ferntree Gully
Yarra Glen,"POLYGON ((145.36232 -37.67205, 145.36236 -37.6...",15.0,Yarra Glen
Rosanna,"POLYGON ((145.08284 -37.74245, 145.08300 -37.7...",0.0,Rosanna
Burnside Heights,"POLYGON ((144.76353 -37.72942, 144.76349 -37.7...",0.0,Burnside Heights

In [16]:
correlationData = pd.merge(suburbData, pollutantData, left_index=True, right_index=True)

In [18]:
correlationData[['%','counts_y']]

                       %  counts_y
LOC_NAME
Melbourne             79      24.0
Southbank             83       4.0
St Kilda              69       0.0
Docklands             76      19.0
Richmond              74      26.0
...                   ..       ...
Sandringham           88       1.0
Upper Ferntree Gully  50      13.0
Yarra Glen            84      15.0
Rosanna               58       0.0
Burnside Heights      72       0.0

[253 rows x 2 columns]

In [ ]:
# a scatter plot comparing % positive tweets and reports of pollutants
df.plot(kind='scatter',x='num_children',y='num_pets',color='red')
plt.show()